* {
    margin: 0;
    padding: 0;
}


body{
    max-width: 70%;
    min-width: 40%;
    max-height: 650px;
    margin: auto;
}

.container {
    height: 650px;
    /*resize: both;*/
    text-align: center;
    display: grid;
    overflow: scroll;
    gap: 10px;
    grid-template-columns: repeat(2, auto-fit minmax(20px, 1fr));
    grid-template-rows: repeat(2, minmax(20px, 1fr));

}

.headContainer {
    display: grid;
    gap: 15px;

}

.header {
    background-color: darkolivegreen;
    grid-column: 1/3;
}



.navbar {
    background-color: rgb(111, 142, 168);
    grid-column: 2/2;
}

.mainBody {
    grid-row: 2;
    grid-column: 1/2;
    background: darkgrey;
}

.mainBody>div {
    grid-column: 2/4;

    margin: auto;
}

.books {
    display: grid;
    overflow-y: hidden;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
    align-items: center;
}

.card {
    display: grid;

}

.card>p {
    font-size: 1.2em;
}

button {
    margin: auto;
    padding: 1em;
}

footer {
    color: black;
    font-size: 1em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* FORM Related */

.form-container{
    display: flex;
    overflow: hidden;
    justify-content: center;
    grid-column: 1/1;
    background: bisque;
    position: relative;
    min-width: 200px;
}

#add-book-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.card{
    display: flex;
    flex-flow:column;
}

.card>p{
    order: 1;
}

.card>button{
    order: 2;
    padding:0;
    margin: 0;
    height:2em;
    width: 2em;
    align-content: center;
    align-self: center;
    background-size: cover;
    background-image: url(/libraryApp/bin.png);
    background-repeat: no-repeat; 
    cursor: pointer;
}